pkgbase = sonic-frameworks-svg
	pkgdesc = Components for handling SVGs
	pkgver = 6.30.0
	pkgrel = 1
	url = https://github.com/Sonic-DE/sonic-frameworks-svg
	arch = x86_64
	groups = sonicde-frameworks
	license = LGPL-2.0-only
	license = LGPL-3.0-only
	makedepends = doxygen
	makedepends = qt6-declarative
	makedepends = qt6-tools
	makedepends = sonic-frameworks-cmake-modules
	makedepends = sonic-frameworks-quick-ui
	depends = glibc
	depends = libstdc++
	depends = qt6-base
	depends = qt6-svg
	depends = sonic-frameworks-archive
	depends = sonic-frameworks-color-scheme
	depends = sonic-frameworks-core-addons
	depends = sonic-frameworks-gui-addons
	depends = sonic-frameworks-settings
	optdepends = qt6-declarative: QML bindings
	optdepends = sonic-frameworks-quick-ui: QML bindings
	provides = ksvg
	conflicts = ksvg
	source = sonic-frameworks-svg-6.30.0.tar.gz::https://github.com/Sonic-DE/sonic-frameworks-svg/archive/refs/tags/6.30.0.tar.gz
	sha256sums = ca25ca5bdc06d6a293d7437886b07d893fc041633c67922cba3ab1d8ef59bf5c

pkgname = sonic-frameworks-svg
