pkgbase = sonic-frameworks-addons-downloader
	pkgdesc = Support for downloading application assets from the network
	pkgver = 6.30.0
	pkgrel = 1
	url = https://github.com/Sonic-DE/sonic-frameworks-addons-downloader
	arch = x86_64
	groups = sonicde-frameworks
	license = LGPL-2.0-only
	license = LGPL-3.0-only
	makedepends = doxygen
	makedepends = qt6-tools
	makedepends = sonic-frameworks-cmake-modules
	depends = glibc
	depends = libgcc
	depends = libstdc++
	depends = qt6-base
	depends = qt6-declarative
	depends = sonic-frameworks-archive
	depends = sonic-frameworks-core-addons
	depends = sonic-frameworks-feeds
	depends = sonic-frameworks-internationalization
	depends = sonic-frameworks-open-collab
	depends = sonic-frameworks-package
	depends = sonic-frameworks-quick-ui
	depends = sonic-frameworks-settings
	depends = sonic-frameworks-settings-utils
	depends = sonic-frameworks-widgets-addons
	provides = knewstuff
	conflicts = knewstuff
	source = sonic-frameworks-addons-downloader-6.30.0.tar.gz::https://github.com/Sonic-DE/sonic-frameworks-addons-downloader/archive/refs/tags/6.30.0.tar.gz
	sha256sums = 4a79193be74f213bee10aac45896d057854d5a1952cace884193b85acc74efcb

pkgname = sonic-frameworks-addons-downloader
