pkgbase = sonic-system-settings
	pkgdesc = SonicDE system manager for hardware, software, and workspaces
	pkgver = 6.7.5
	pkgrel = 1
	url = https://github.com/Sonic-DE/sonic-system-settings
	arch = x86_64
	groups = sonicde
	license = LGPL-2.0-or-later
	makedepends = sonic-frameworks-cmake-modules
	makedepends = sonic-frameworks-doctools
	depends = glibc
	depends = libstdc++
	depends = qt6-base
	depends = qt6-declarative
	depends = sonic-activities
	depends = sonic-frameworks-app-info
	depends = sonic-frameworks-auth
	depends = sonic-frameworks-color-scheme
	depends = sonic-frameworks-core-addons
	depends = sonic-frameworks-crash-handler
	depends = sonic-frameworks-data-models
	depends = sonic-frameworks-data-views
	depends = sonic-frameworks-dbus
	depends = sonic-frameworks-internationalization
	depends = sonic-frameworks-io
	depends = sonic-frameworks-progress-ui
	depends = sonic-frameworks-quick-ui
	depends = sonic-frameworks-runner
	depends = sonic-frameworks-settings
	depends = sonic-frameworks-settings-ui
	depends = sonic-frameworks-settings-utils
	depends = sonic-frameworks-widgets-addons
	depends = sonic-frameworks-windowsystem
	depends = sonic-frameworks-xml-gui
	provides = systemsettings
	conflicts = systemsettings
	source = sonic-system-settings-6.7.5.tar.gz::https://github.com/Sonic-DE/sonic-system-settings/archive/refs/tags/6.7.5.tar.gz
	sha256sums = dd0b9641c04e5118275d46cd725bc8df5536cd6abfe8dbe5d429cb91eb11373b

pkgname = sonic-system-settings
