pkgbase = sonic-frameworks-file-search
	pkgdesc = A framework for searching and managing metadata
	pkgver = 6.30.0
	pkgrel = 1
	url = https://github.com/Sonic-DE/sonic-frameworks-file-search
	arch = x86_64
	groups = sonicde-frameworks
	license = LGPL-2.0-only
	license = LGPL-3.0-only
	makedepends = doxygen
	makedepends = qt6-tools
	makedepends = sonic-frameworks-cmake-modules
	makedepends = sonic-frameworks-doctools
	depends = glibc
	depends = libstdc++
	depends = lmdb
	depends = qt6-base
	depends = sonic-frameworks-core-addons
	depends = sonic-frameworks-crash-handler
	depends = sonic-frameworks-dbus
	depends = sonic-frameworks-device-integration
	depends = sonic-frameworks-file-metadata
	depends = sonic-frameworks-idle-tracker
	depends = sonic-frameworks-internationalization
	depends = sonic-frameworks-io
	depends = sonic-frameworks-settings
	optdepends = qt6-declarative: QML bindings
	provides = baloo
	conflicts = baloo
	conflicts = baloo5
	replaces = baloo5
	source = sonic-frameworks-file-search-6.30.0.tar.gz::https://github.com/Sonic-DE/sonic-frameworks-file-search/archive/refs/tags/6.30.0.tar.gz
	sha256sums = c9df9dabaa13d34864fceab0a465e29b8cc9d261fdc659a5557c20dca2f80ecb

pkgname = sonic-frameworks-file-search
