pkgbase = sonic-plasma5-support-library
	pkgdesc = Support components for porting from KF5/Qt5 to KF6/Qt6
	pkgver = 6.7.5
	pkgrel = 1
	url = https://github.com/Sonic-DE/sonic-plasma5-support-library
	arch = x86_64
	groups = sonicde
	license = LGPL-2.0-or-later
	makedepends = gpsd
	makedepends = sonic-activities
	makedepends = sonic-frameworks-cmake-modules
	makedepends = sonic-frameworks-networkmanager
	depends = glibc
	depends = libstdc++
	depends = libx11
	depends = libxfixes
	depends = qt6-base
	depends = qt6-declarative
	depends = sonic-frameworks-app-info
	depends = sonic-frameworks-core-addons
	depends = sonic-frameworks-device-integration
	depends = sonic-frameworks-gui-addons
	depends = sonic-frameworks-holidays
	depends = sonic-frameworks-idle-tracker
	depends = sonic-frameworks-internationalization
	depends = sonic-frameworks-io
	depends = sonic-frameworks-notifications
	depends = sonic-frameworks-progress-ui
	depends = sonic-frameworks-settings
	depends = sonic-frameworks-unit-conversion
	depends = sonic-system-monitor-library
	optdepends = gpsd: GPS-based geolocation dataengine
	optdepends = sonic-activities: activities dataengine
	optdepends = sonic-frameworks-networkmanager: IP-based geolocation dataengine
	provides = plasma5support
	conflicts = plasma5support
	source = sonic-plasma5-support-library-6.7.5.tar.gz::https://github.com/Sonic-DE/sonic-plasma5-support-library/archive/refs/tags/6.7.5.tar.gz
	sha256sums = be6849403c3dbc9aa382d1dfa8339c5a31e97b25c8f336283b4e3a0ab8235ac0

pkgname = sonic-plasma5-support-library
