pkgbase = sonic-frameworks-text-editor
	pkgdesc = Advanced embeddable text editor
	pkgver = 6.30.0
	pkgrel = 1
	url = https://github.com/Sonic-DE/sonic-frameworks-text-editor
	arch = x86_64
	groups = sonicde-frameworks
	license = LGPL-2.0-only
	license = LGPL-3.0-only
	makedepends = doxygen
	makedepends = qt6-tools
	makedepends = sonic-frameworks-cmake-modules
	depends = editorconfig-core-c
	depends = glibc
	depends = libgcc
	depends = libstdc++
	depends = qt6-base
	depends = qt6-declarative
	depends = qt6-speech
	depends = sonic-frameworks-archive
	depends = sonic-frameworks-auth
	depends = sonic-frameworks-autocomplete
	depends = sonic-frameworks-color-scheme
	depends = sonic-frameworks-core-addons
	depends = sonic-frameworks-data-views
	depends = sonic-frameworks-gui-addons
	depends = sonic-frameworks-internationalization
	depends = sonic-frameworks-io
	depends = sonic-frameworks-settings
	depends = sonic-frameworks-settings-ui
	depends = sonic-frameworks-spell-check
	depends = sonic-frameworks-syntax-highlighting
	depends = sonic-frameworks-text-codec
	depends = sonic-frameworks-ui-components
	depends = sonic-frameworks-widgets-addons
	depends = sonic-frameworks-xml-gui
	optdepends = git: git integration
	provides = ktexteditor
	conflicts = ktexteditor
	source = sonic-frameworks-text-editor-6.30.0.tar.gz::https://github.com/Sonic-DE/sonic-frameworks-text-editor/archive/refs/tags/6.30.0.tar.gz
	sha256sums = 4173a71692966c3bc2bd17fadf44f382fa591b937d5bc3741346c55f527999ef

pkgname = sonic-frameworks-text-editor
