pkgbase = sonic-drawing-tablet
	pkgdesc = GUI for Wacom Linux drivers that supports different button/pen layout profiles
	pkgver = 6.7.5
	pkgrel = 1
	url = https://github.com/Sonic-DE/sonic-drawing-tablet
	arch = x86_64
	groups = sonicde
	license = LGPL-2.0-or-later
	makedepends = sonic-frameworks-cmake-modules
	makedepends = sonic-frameworks-doctools
	depends = glibc
	depends = libstdc++
	depends = libwacom
	depends = libxcb
	depends = libxi
	depends = qt6-base
	depends = qt6-declarative
	depends = sonic-frameworks-app-info
	depends = sonic-frameworks-core-addons
	depends = sonic-frameworks-dbus
	depends = sonic-frameworks-internationalization
	depends = sonic-frameworks-io
	depends = sonic-frameworks-keybind
	depends = sonic-frameworks-notifications
	depends = sonic-frameworks-quick-ui
	depends = sonic-frameworks-settings
	depends = sonic-frameworks-settings-utils
	depends = sonic-frameworks-svg
	depends = sonic-frameworks-widgets-addons
	depends = sonic-frameworks-windowsystem
	depends = sonic-frameworks-xml-gui
	depends = sonic-interface-libraries
	depends = sonic-plasma5-support-library
	depends = xf86-input-wacom
	provides = wacomtablet
	conflicts = kcm-wacomtablet
	conflicts = wacomtablet
	replaces = kcm-wacomtablet
	source = sonic-drawing-tablet-6.7.5.tar.gz::https://github.com/Sonic-DE/sonic-drawing-tablet/archive/refs/tags/6.7.5.tar.gz
	sha256sums = b1217f705c54e121806f7addd2747ae6ba2b9782f1e3d6113a05aa75815f19d8

pkgname = sonic-drawing-tablet
