pkgbase = sonic-frameworks-user-feedback
	pkgdesc = Framework for collecting user feedback for applications via telemetry and surveys
	pkgver = 6.30.0
	pkgrel = 1
	url = https://github.com/Sonic-DE/sonic-frameworks-user-feedback
	arch = x86_64
	groups = sonicde
	license = LGPL-2.0-only
	license = LGPL-3.0-only
	makedepends = clang
	makedepends = qt6-charts
	makedepends = qt6-declarative
	makedepends = qt6-svg
	makedepends = qt6-tools
	makedepends = sonic-frameworks-cmake-modules
	depends = glibc
	depends = libstdc++
	depends = qt6-base
	optdepends = qt6-charts: Feedback console
	optdepends = qt6-declarative: QML bindings
	optdepends = qt6-svg: Feedback console
	provides = kuserfeedback
	conflicts = kuserfeedback
	conflicts = kuserfeedback5
	replaces = kuserfeedback5
	source = sonic-frameworks-user-feedback-6.30.0.tar.gz::https://github.com/Sonic-DE/sonic-frameworks-user-feedback/archive/refs/tags/6.30.0.tar.gz
	sha256sums = aace66e9a9411ae62b3a978aee094bcce78c8c75791e3ab90348d544ad89de62

pkgname = sonic-frameworks-user-feedback
