pkgbase = sonic-frameworks-notifications
	pkgdesc = Abstraction for system notifications
	pkgver = 6.30.0
	pkgrel = 1
	url = https://github.com/Sonic-DE/sonic-frameworks-notifications
	arch = x86_64
	groups = sonicde-frameworks
	license = LGPL-2.0-only
	license = LGPL-3.0-only
	makedepends = doxygen
	makedepends = python-build
	makedepends = python-setuptools
	makedepends = qt6-declarative
	makedepends = sonic-frameworks-cmake-modules
	makedepends = sonic-pyside6
	makedepends = sonic-shiboken6-generator
	depends = glibc
	depends = libcanberra
	depends = libstdc++
	depends = qt6-base
	depends = sonic-frameworks-settings
	optdepends = qt6-declarative: QML bindings
	optdepends = sonic-pyside6: Python bindings
	provides = knotifications
	conflicts = knotifications
	source = sonic-frameworks-notifications-6.30.0.tar.gz::https://github.com/Sonic-DE/sonic-frameworks-notifications/archive/refs/tags/6.30.0.tar.gz
	sha256sums = 1de8f37514d0160c4e44b4d3b8ffa21651c03ec50e74a33f577ef7518d42c9eb

pkgname = sonic-frameworks-notifications
