pkgbase = sonic-frameworks-settings-utils
	pkgdesc = Utilities for interacting with the Sonic configuration system
	pkgver = 6.30.0
	pkgrel = 1
	url = https://github.com/Sonic-DE/sonic-frameworks-settings-utils
	arch = x86_64
	groups = sonicde-frameworks
	license = LGPL-2.0-only
	license = LGPL-3.0-only
	makedepends = doxygen
	makedepends = qt6-tools
	makedepends = sonic-frameworks-cmake-modules
	depends = glibc
	depends = libstdc++
	depends = qt6-base
	depends = qt6-declarative
	depends = sonic-frameworks-app-info
	depends = sonic-frameworks-core-addons
	depends = sonic-frameworks-data-views
	depends = sonic-frameworks-gui-addons
	depends = sonic-frameworks-internationalization
	depends = sonic-frameworks-io
	depends = sonic-frameworks-quick-ui
	depends = sonic-frameworks-settings
	depends = sonic-frameworks-settings-ui
	depends = sonic-frameworks-widgets-addons
	depends = sonic-frameworks-xml-gui
	provides = kcmutils
	conflicts = kcmutils
	source = sonic-frameworks-settings-utils-6.30.0.tar.gz::https://github.com/Sonic-DE/sonic-frameworks-settings-utils/archive/refs/tags/6.30.0.tar.gz
	sha256sums = 9d0023037bf2ce21afb259acdc7d4a9193243e9341b8e8792dac151599664e43

pkgname = sonic-frameworks-settings-utils
