pkgbase = sonic-frameworks-app-info
	pkgdesc = Advanced plugin and service introspection
	pkgver = 6.30.0
	pkgrel = 1
	url = https://github.com/Sonic-DE/sonic-frameworks-app-info
	arch = x86_64
	groups = sonicde-frameworks
	license = LGPL-2.0-only
	license = LGPL-3.0-only
	makedepends = doxygen
	makedepends = qt6-tools
	makedepends = sonic-frameworks-cmake-modules
	makedepends = sonic-frameworks-doctools
	depends = glibc
	depends = libstdc++
	depends = qt6-base
	depends = sonic-frameworks-core-addons
	depends = sonic-frameworks-internationalization
	depends = sonic-frameworks-settings
	provides = kservice
	conflicts = kservice
	source = sonic-frameworks-app-info-6.30.0.tar.gz::https://github.com/Sonic-DE/sonic-frameworks-app-info/archive/refs/tags/6.30.0.tar.gz
	sha256sums = 94bd46b4bb89faf3dc74c12326b10e0c2dabc8123db04679bb959af8776a52b3

pkgname = sonic-frameworks-app-info
