pkgbase = sonic-workspace-addons
	pkgdesc = All kind of addons to improve your SonicDE experience
	pkgver = 6.7.5
	pkgrel = 3
	url = https://github.com/Sonic-DE/sonic-workspace-addons
	arch = x86_64
	groups = sonicde
	license = LGPL-2.0-or-later
	makedepends = qt6-webengine
	makedepends = sonic-frameworks-cmake-modules
	makedepends = sonic-frameworks-networkmanager
	depends = glibc
	depends = icu
	depends = libgcc
	depends = libstdc++
	depends = qt6-base
	depends = qt6-declarative
	depends = qt6-quick3d
	depends = sonic-frameworks-addons-downloader
	depends = sonic-frameworks-app-info
	depends = sonic-frameworks-auth
	depends = sonic-frameworks-core-addons
	depends = sonic-frameworks-data-models
	depends = sonic-frameworks-dbus
	depends = sonic-frameworks-gui-addons
	depends = sonic-frameworks-holidays
	depends = sonic-frameworks-icon-themes
	depends = sonic-frameworks-internationalization
	depends = sonic-frameworks-io
	depends = sonic-frameworks-keybind
	depends = sonic-frameworks-notifications
	depends = sonic-frameworks-package
	depends = sonic-frameworks-progress-ui
	depends = sonic-frameworks-qml-bridge
	depends = sonic-frameworks-quick-ui
	depends = sonic-frameworks-quick-ui-addons
	depends = sonic-frameworks-runner
	depends = sonic-frameworks-settings
	depends = sonic-frameworks-settings-utils
	depends = sonic-frameworks-spell-check
	depends = sonic-frameworks-svg
	depends = sonic-frameworks-unit-conversion
	depends = sonic-frameworks-widgets-addons
	depends = sonic-frameworks-windowsystem
	depends = sonic-frameworks-xml-gui
	depends = sonic-interface-libraries
	depends = sonic-win
	depends = sonic-workspace
	optdepends = qt6-webengine: dictionary and webbrowser applets
	optdepends = quota-tools: disk quota applet
	optdepends = sonic-frameworks-networkmanager: POTD wallpaper
	optdepends = elogind: login1 sleep and resume notifications
	provides = kdeplasma-addons
	conflicts = kdeplasma-addons
	source = sonic-workspace-addons-6.7.5.tar.gz::https://github.com/Sonic-DE/sonic-workspace-addons/archive/refs/tags/6.7.5.tar.gz
	sha256sums = ef441e73bb425abf5bfeca0f8aa600a3913cf5c802bce49f51db2afa37d605a2

pkgname = sonic-workspace-addons
