pkgbase = sonic-mobile-interface
	pkgdesc = SonicDE interface for mobile devices
	pkgver = 6.7.5
	pkgrel = 1
	url = https://github.com/Sonic-DE/sonic-mobile-interface
	arch = x86_64
	groups = sonicde
	license = GPL-3.0-or-later
	makedepends = sonic-frameworks-cmake-modules
	makedepends = vulkan-headers
	depends = bash
	depends = glibc
	depends = libgcc
	depends = libstdc++
	depends = libudev.so
	depends = plasma-keyboard
	depends = plasma-nano
	depends = powerdevil
	depends = qcoro
	depends = qt6-base
	depends = qt6-declarative
	depends = qt6-sensors
	depends = sonic-audio-applet-pulse
	depends = sonic-file-search-ui
	depends = sonic-frameworks-addons-downloader
	depends = sonic-frameworks-app-info
	depends = sonic-frameworks-auth
	depends = sonic-frameworks-bluetooth
	depends = sonic-frameworks-core-addons
	depends = sonic-frameworks-data-models
	depends = sonic-frameworks-dbus
	depends = sonic-frameworks-device-integration
	depends = sonic-frameworks-internationalization
	depends = sonic-frameworks-io
	depends = sonic-frameworks-modemmanager
	depends = sonic-frameworks-networkmanager
	depends = sonic-frameworks-notifications
	depends = sonic-frameworks-package
	depends = sonic-frameworks-progress-ui
	depends = sonic-frameworks-qml-bridge
	depends = sonic-frameworks-quick-ui
	depends = sonic-frameworks-quick-ui-addons
	depends = sonic-frameworks-settings
	depends = sonic-frameworks-settings-utils
	depends = sonic-frameworks-svg
	depends = sonic-frameworks-windowsystem
	depends = sonic-interface-libraries
	depends = sonic-network-manager
	depends = sonic-pipewire
	depends = sonic-screen-library
	depends = sonic-win
	depends = sonic-workspace
	optdepends = plasma-settings: System settings
	optdepends = sonic-bluetooth-runtime: Bluetooth management
	optdepends = sonic-screen: Screen management
	optdepends = esettingsd: timedate1 service for dinit, runit or s6
	optdepends = openrc-settingsd: timedate1 service for OpenRC
	provides = plasma-mobile
	conflicts = plasma-mobile
	source = sonic-mobile-interface-6.7.5.tar.gz::https://github.com/Sonic-DE/sonic-mobile-interface/archive/refs/tags/6.7.5.tar.gz
	sha256sums = 1aa6a2bf129472e3ae216a076ac71873a759b6cdc4aa3487bf55b7213d20554e

pkgname = sonic-mobile-interface
