pkgbase = sonic-frameworks-pseudo-terminal
	pkgdesc = Pty abstraction
	pkgver = 6.30.0
	pkgrel = 1
	url = https://github.com/Sonic-DE/sonic-frameworks-pseudo-terminal
	arch = x86_64
	groups = sonicde-frameworks
	license = LGPL-2.0-only
	license = LGPL-3.0-only
	makedepends = doxygen
	makedepends = qt6-tools
	makedepends = sonic-frameworks-cmake-modules
	depends = glibc
	depends = libstdc++
	depends = libutempter
	depends = qt6-base
	depends = sonic-frameworks-core-addons
	depends = sonic-frameworks-internationalization
	provides = kpty
	conflicts = kpty
	source = sonic-frameworks-pseudo-terminal-6.30.0.tar.gz::https://github.com/Sonic-DE/sonic-frameworks-pseudo-terminal/archive/refs/tags/6.30.0.tar.gz
	sha256sums = abdfa924a412bd73e0d26c80bef0eebae440985185f43b4231e242b91e0a700c

pkgname = sonic-frameworks-pseudo-terminal
