pkgbase = sonic-system-info
	pkgdesc = A utility that provides information about a computer system
	pkgver = 6.7.5
	pkgrel = 3
	url = https://github.com/Sonic-DE/sonic-system-info
	arch = x86_64
	groups = sonicde
	license = LGPL-2.0-or-later
	makedepends = fwupd
	makedepends = sonic-frameworks-cmake-modules
	makedepends = sonic-frameworks-doctools
	makedepends = vulkan-headers
	depends = aha
	depends = clinfo
	depends = dmidecode
	depends = glibc
	depends = glu
	depends = iproute2
	depends = libdisplay-info
	depends = libdrm
	depends = libpulse
	depends = libstdc++
	depends = libudev.so
	depends = libusb
	depends = lm_sensors
	depends = mesa-utils
	depends = qt6-base
	depends = qt6-declarative
	depends = sh
	depends = sonic-frameworks-app-info
	depends = sonic-frameworks-auth
	depends = sonic-frameworks-core-addons
	depends = sonic-frameworks-device-integration
	depends = sonic-frameworks-internationalization
	depends = sonic-frameworks-io
	depends = sonic-frameworks-qml-bridge
	depends = sonic-frameworks-quick-ui
	depends = sonic-frameworks-settings
	depends = sonic-frameworks-settings-utils
	depends = sonic-system-settings
	depends = vulkan-tools
	depends = wayland-utils
	depends = xorg-xdpyinfo
	optdepends = fwupd: firmware security module
	optdepends = sonic-disks: SMART devices health monitor
	provides = kinfocenter
	conflicts = kinfocenter
	source = sonic-system-info-6.7.5.tar.gz::https://github.com/Sonic-DE/sonic-system-info/archive/refs/tags/6.7.5.tar.gz
	sha256sums = 1099c7c3df53c18290671a650a41ad9fa748df86a919171753ec26f66421dbc4

pkgname = sonic-system-info
