pkgbase = sonic-frameworks-package
	pkgdesc = Framework that lets applications manage user installable packages of non-binary assets
	pkgver = 6.30.0
	pkgrel = 1
	url = https://github.com/Sonic-DE/sonic-frameworks-package
	arch = x86_64
	groups = sonicde-frameworks
	license = LGPL-2.0-only
	license = LGPL-3.0-only
	makedepends = doxygen
	makedepends = qt6-tools
	makedepends = sonic-frameworks-cmake-modules
	makedepends = sonic-frameworks-doctools
	depends = glibc
	depends = libstdc++
	depends = qt6-base
	depends = sonic-frameworks-archive
	depends = sonic-frameworks-core-addons
	depends = sonic-frameworks-internationalization
	provides = kpackage
	conflicts = kpackage
	source = sonic-frameworks-package-6.30.0.tar.gz::https://github.com/Sonic-DE/sonic-frameworks-package/archive/refs/tags/6.30.0.tar.gz
	sha256sums = 1f0de9b1d2b754115ce3cd96faa84960f55008f4687c374c70c1606b6dbd979a

pkgname = sonic-frameworks-package
