pkgbase = sonic-workspace
	pkgdesc = SonicDE workspace components
	pkgver = 6.7.5.4
	pkgrel = 2
	url = https://github.com/Sonic-DE/sonic-workspace
	arch = x86_64
	groups = sonicde
	license = LGPL-2.0-or-later
	makedepends = qcoro
	makedepends = sonic-frameworks-cmake-modules
	makedepends = sonic-frameworks-doctools
	makedepends = sonic-frameworks-file-search
	makedepends = sonic-frameworks-networkmanager
	depends = accountsservice
	depends = appstream-qt
	depends = dbus
	depends = fontconfig
	depends = freetype2
	depends = glibc
	depends = icu
	depends = libcanberra
	depends = libgcc
	depends = libice
	depends = libqalculate
	depends = libsm
	depends = libstdc++
	depends = libudev.so
	depends = libx11
	depends = libxau
	depends = libxcb
	depends = libxcrypt
	depends = libxcursor
	depends = libxfixes
	depends = libxft
	depends = libxtst
	depends = ocean-sound-theme
	depends = qt6-base
	depends = qt6-declarative
	depends = qt6-location
	depends = qt6-positioning
	depends = qt6-svg
	depends = qt6-tools
	depends = qt6-virtualkeyboard
	depends = sh
	depends = sonic-activities
	depends = sonic-activities-stats
	depends = sonic-activity-manager-daemon
	depends = sonic-daemon
	depends = sonic-exiv2-library
	depends = sonic-file-search-ui
	depends = sonic-frameworks-addons-downloader
	depends = sonic-frameworks-app-info
	depends = sonic-frameworks-archive
	depends = sonic-frameworks-auth
	depends = sonic-frameworks-autocomplete
	depends = sonic-frameworks-barcode
	depends = sonic-frameworks-bookmarks
	depends = sonic-frameworks-color-scheme
	depends = sonic-frameworks-core-addons
	depends = sonic-frameworks-crash-handler
	depends = sonic-frameworks-data-models
	depends = sonic-frameworks-dbus
	depends = sonic-frameworks-device-integration
	depends = sonic-frameworks-gui-addons
	depends = sonic-frameworks-holidays
	depends = sonic-frameworks-icon-themes
	depends = sonic-frameworks-idle-tracker
	depends = sonic-frameworks-internationalization
	depends = sonic-frameworks-io
	depends = sonic-frameworks-io-extras
	depends = sonic-frameworks-io-fuse
	depends = sonic-frameworks-keybind
	depends = sonic-frameworks-keyring
	depends = sonic-frameworks-notifications
	depends = sonic-frameworks-package
	depends = sonic-frameworks-progress-ui
	depends = sonic-frameworks-qml-bridge
	depends = sonic-frameworks-quick-charts
	depends = sonic-frameworks-quick-ui
	depends = sonic-frameworks-quick-ui-addons
	depends = sonic-frameworks-runner
	depends = sonic-frameworks-settings
	depends = sonic-frameworks-settings-ui
	depends = sonic-frameworks-settings-utils
	depends = sonic-frameworks-status-notification
	depends = sonic-frameworks-svg
	depends = sonic-frameworks-text-editor
	depends = sonic-frameworks-text-widgets
	depends = sonic-frameworks-ui-components
	depends = sonic-frameworks-user-feedback
	depends = sonic-frameworks-widgets-addons
	depends = sonic-frameworks-windowsystem
	depends = sonic-frameworks-xml-gui
	depends = sonic-interface-libraries
	depends = sonic-night-light
	depends = sonic-pipewire
	depends = sonic-screenlocker
	depends = sonic-system-monitor-library
	depends = sonic-system-stats
	depends = sonic-terminal-tools
	depends = sonic-win
	depends = xcb-util
	depends = xcb-util-cursor
	depends = xcb-util-image
	depends = xcb-util-wm
	depends = xorg-xmessage
	depends = xorg-xrdb
	depends = zlib
	optdepends = appmenu-gtk-module: global menu support for some GTK3 applications
	optdepends = discover: manage applications installation from the launcher
	optdepends = kdepim-addons: displaying PIM events in the calendar
	optdepends = plasma5-integration: use Plasma settings in Qt5 applications
	optdepends = sonic-frameworks-file-search: file search runner
	optdepends = sonic-frameworks-networkmanager: IP based geolocation
	optdepends = sonic-workspace-wallpapers: additional wallpapers
	optdepends = xdg-desktop-portal-gtk: sync font settings to Flatpak apps
	optdepends = elogind: login1 service for session and power management
	optdepends = esettingsd: timedate1 and locale1 services for dinit, runit or s6
	optdepends = openrc-settingsd: timedate1 and locale1 services for OpenRC
	provides = plasma-workspace
	provides = plasma-x11-session
	provides = sonic-x11-session
	conflicts = plasma-workspace
	conflicts = plasma-x11-session
	conflicts = sonic-x11-session
	replaces = sonic-x11-session
	source = sonic-workspace-6.7.5.4.tar.gz::https://github.com/Sonic-DE/sonic-workspace/archive/refs/tags/6.7.5.4.tar.gz
	source = build-systemd-option.patch
	sha256sums = fc72311fc7f316b1a7306f17302d2df00bad36769e1bcf2adcb76bf14e4d8fb0
	sha256sums = 46d21bdb2347afe7ee313196f4296cfc91f4e16e68eca9f0da3dcae42663a63d

pkgname = sonic-workspace
