pkgbase = sonic-frameworks-file-metadata
	pkgdesc = A library for extracting file metadata
	pkgver = 6.30.0
	pkgrel = 1
	url = https://github.com/Sonic-DE/sonic-frameworks-file-metadata
	arch = x86_64
	groups = sonicde-frameworks
	license = LGPL-2.0-only
	license = LGPL-3.0-only
	makedepends = catdoc
	makedepends = doxygen
	makedepends = kdegraphics-mobipocket
	makedepends = libappimage
	makedepends = qt6-tools
	makedepends = sonic-frameworks-cmake-modules
	depends = ebook-tools
	depends = exiv2
	depends = ffmpeg
	depends = glibc
	depends = libgcc
	depends = libstdc++
	depends = poppler-qt6
	depends = qt6-base
	depends = sonic-frameworks-archive
	depends = sonic-frameworks-core-addons
	depends = sonic-frameworks-internationalization
	depends = sonic-frameworks-settings
	depends = sonic-frameworks-text-codec
	depends = taglib
	optdepends = catdoc: Extract text from Office 98 files
	optdepends = kdegraphics-mobipocket: MOBI extractor
	optdepends = libappimage: AppImage extractor
	provides = kfilemetadata
	conflicts = kfilemetadata
	source = sonic-frameworks-file-metadata-6.30.0.tar.gz::https://github.com/Sonic-DE/sonic-frameworks-file-metadata/archive/refs/tags/6.30.0.tar.gz
	sha256sums = fe2e2a9fef2cf127f612b33f4597aaccb57b158311702578f4b1542583392756

pkgname = sonic-frameworks-file-metadata
