pkgbase = sonicde-meta
	pkgdesc = Meta package to install SonicDE, an X11-focused fork of KDE
	pkgver = 6.7
	pkgrel = 3
	url = https://github.com/Sonic-DE
	arch = any
	license = None
	depends = aurorae
	depends = flatpak-kcm
	depends = kup
	depends = ocean-sound-theme
	depends = plasma-keyboard
	depends = powerdevil
	depends = print-manager
	depends = sonic-activities-stats
	depends = sonic-activity-manager-daemon
	depends = sonic-audio-applet-pulse
	depends = sonic-bluetooth-runtime
	depends = sonic-browser-integration
	depends = sonic-decoration
	depends = sonic-desktop-interface
	depends = sonic-disks
	depends = sonic-dr-robotnik
	depends = sonic-ecco
	depends = sonic-file-search-ui
	depends = sonic-frameworks-keyring-pam
	depends = sonic-gtk-theme-bridge
	depends = sonic-keybind-daemon
	depends = sonic-launcher-menu-edit
	depends = sonic-login-manager
	depends = sonic-network-manager
	depends = sonic-night-light
	depends = sonic-oxygen
	depends = sonic-oxygen-sounds
	depends = sonic-pipewire
	depends = sonic-polkit-agent
	depends = sonic-qt-theme-bridge
	depends = sonic-screen
	depends = sonic-screenies
	depends = sonic-screenlocker
	depends = sonic-silver
	depends = sonic-silver-gtk
	depends = sonic-ssh-password-prompt
	depends = sonic-system-info
	depends = sonic-system-monitor
	depends = sonic-system-settings
	depends = sonic-system-stats
	depends = sonic-terminal
	depends = sonic-terminal-tools
	depends = sonic-thunderbolt
	depends = sonic-vault
	depends = sonic-welcome-center
	depends = sonic-workspace-addons
	depends = sonic-write-daemon
	depends = union
	depends = xdg-desktop-portal-sonicde
	optdepends = breeze-grub: Breeze theme for GRUB
	optdepends = breeze-plymouth: Breeze theme for Plymouth
	optdepends = plasma-sdk: Development tools
	optdepends = plymouth-kcm: Configure Plymouth from systemsettings
	optdepends = sddm-kcm: SDDM configuration module
	optdepends = sonic-breeze: Breeze theme for SonicDE
	optdepends = sonic-drawing-tablet: Drawing tablet settings on X
	optdepends = sonic-gamma: Adjust gamma settings on X
	optdepends = sonic-silver-sddm: SDDM silver theme
	optdepends = sonic-workspace-wallpapers: Additional wallpapers
	provides = plasma-meta
	conflicts = plasma-meta
	options = !debug

pkgname = sonicde-meta
