pkgbase = sonic-disks
	pkgdesc = Monitors S.M.A.R.T. capable devices for imminent failure
	pkgver = 6.7.5
	pkgrel = 1
	url = https://github.com/Sonic-DE/sonic-disks
	arch = x86_64
	groups = sonicde
	license = LGPL-2.0-or-later
	makedepends = sonic-frameworks-cmake-modules
	depends = glibc
	depends = libstdc++
	depends = qt6-base
	depends = qt6-declarative
	depends = smartmontools
	depends = sonic-frameworks-app-info
	depends = sonic-frameworks-auth
	depends = sonic-frameworks-core-addons
	depends = sonic-frameworks-dbus
	depends = sonic-frameworks-device-integration
	depends = sonic-frameworks-internationalization
	depends = sonic-frameworks-io
	depends = sonic-frameworks-notifications
	depends = sonic-frameworks-qml-bridge
	depends = sonic-frameworks-quick-ui
	depends = sonic-frameworks-settings
	depends = sonic-frameworks-settings-utils
	depends = sonic-system-info
	provides = plasma-disks
	conflicts = plasma-disks
	source = sonic-disks-6.7.5.tar.gz::https://github.com/Sonic-DE/sonic-disks/archive/refs/tags/6.7.5.tar.gz
	sha256sums = e24f83258b2f3fe1b2f99ed1fbecc86d6690d295e2cd5bf11a28de144144695d

pkgname = sonic-disks
