pkgbase = sonic-frameworks-io
	pkgdesc = Resource and network access abstraction
	pkgver = 6.30.0
	pkgrel = 3
	url = https://github.com/Sonic-DE/sonic-frameworks-io
	arch = x86_64
	groups = sonicde-frameworks
	license = LGPL-2.0-only
	license = LGPL-3.0-only
	makedepends = doxygen
	makedepends = qt6-tools
	makedepends = sonic-frameworks-cmake-modules
	makedepends = sonic-frameworks-doctools
	depends = acl
	depends = glibc
	depends = libstdc++
	depends = libxml2
	depends = libxslt
	depends = qt6-base
	depends = sonic-frameworks-app-info
	depends = sonic-frameworks-archive
	depends = sonic-frameworks-autocomplete
	depends = sonic-frameworks-bookmarks
	depends = sonic-frameworks-color-scheme
	depends = sonic-frameworks-core-addons
	depends = sonic-frameworks-crash-handler
	depends = sonic-frameworks-data-views
	depends = sonic-frameworks-dbus
	depends = sonic-frameworks-device-integration
	depends = sonic-frameworks-gui-addons
	depends = sonic-frameworks-icon-themes
	depends = sonic-frameworks-internationalization
	depends = sonic-frameworks-keyring
	depends = sonic-frameworks-progress-ui
	depends = sonic-frameworks-settings
	depends = sonic-frameworks-widgets-addons
	depends = sonic-frameworks-windowsystem
	depends = util-linux-libs
	optdepends = audiocd-kio: for accessing audio CDs
	optdepends = sonic-daemon: proxy management and cookie storage
	optdepends = sonic-frameworks-doctools: for the help kioslave
	optdepends = sonic-frameworks-io-extras: extra protocols support (sftp, fish and more
	optdepends = sonic-frameworks-io-fuse: to mount remote filesystems via FUSE
	optdepends = switcheroo-control: hybrid GPU support
	provides = kio
	conflicts = kio
	source = sonic-frameworks-io-6.30.0.tar.gz::https://github.com/Sonic-DE/sonic-frameworks-io/archive/refs/tags/6.30.0.tar.gz
	sha256sums = 5ad46286321937b7325e5ca5fc8dc282045ce13946ff651214837efb8c535f8d

pkgname = sonic-frameworks-io
