pkgbase = sonic-frameworks-settings
	pkgdesc = Configuration system
	pkgver = 6.30.0
	pkgrel = 1
	url = https://github.com/Sonic-DE/sonic-frameworks-settings
	arch = x86_64
	groups = sonicde-frameworks
	license = LGPL-2.0-only
	license = LGPL-3.0-only
	makedepends = doxygen
	makedepends = qt6-tools
	makedepends = sonic-frameworks-cmake-modules
	depends = glibc
	depends = libstdc++
	depends = qt6-base
	depends = qt6-declarative
	provides = kconfig
	conflicts = kconfig
	source = sonic-frameworks-settings-6.30.0.tar.gz::https://github.com/Sonic-DE/sonic-frameworks-settings/archive/refs/tags/6.30.0.tar.gz
	sha256sums = 3ead064ad1ee68eb7d6f0f1e76f483da14c45d1f4fcac56707b108b34538f8f1

pkgname = sonic-frameworks-settings
