pkgbase = sonic-screen
	pkgdesc = SonicDE screen management software
	pkgver = 6.7.5.1
	pkgrel = 3
	url = https://github.com/Sonic-DE/sonic-screen
	arch = x86_64
	groups = sonicde
	license = LGPL-2.0-or-later
	makedepends = sonic-frameworks-cmake-modules
	depends = glibc
	depends = libstdc++
	depends = libx11
	depends = libxcb
	depends = libxi
	depends = qt6-base
	depends = qt6-declarative
	depends = sonic-frameworks-core-addons
	depends = sonic-frameworks-crash-handler
	depends = sonic-frameworks-data-models
	depends = sonic-frameworks-dbus
	depends = sonic-frameworks-image-formats
	depends = sonic-frameworks-internationalization
	depends = sonic-frameworks-quick-ui
	depends = sonic-frameworks-settings
	depends = sonic-frameworks-settings-utils
	depends = sonic-frameworks-svg
	depends = sonic-frameworks-windowsystem
	depends = sonic-interface-libraries
	depends = sonic-plasma5-support-library
	depends = sonic-screen-library
	provides = kscreen
	conflicts = kscreen
	source = sonic-screen-6.7.5.1.tar.gz::https://github.com/Sonic-DE/sonic-screen/archive/refs/tags/6.7.5.1.tar.gz
	sha256sums = 2faa2c7be7773060b66322427c7d083b9bf36c3352ef1d363acd9ee85025afb0

pkgname = sonic-screen
