pkgbase = sonic-frameworks-quick-ui-addons
	pkgdesc = Add-ons for the Sonic Quick UI framework
	pkgver = 1.13.1
	pkgrel = 3
	url = https://github.com/Sonic-DE/sonic-frameworks-quick-ui-addons
	arch = x86_64
	groups = sonicde-frameworks
	license = GPL-2.0-or-later
	license = LGPL-2.1-or-later
	makedepends = sonic-frameworks-cmake-modules
	depends = glibc
	depends = libstdc++
	depends = qt6-base
	depends = qt6-declarative
	depends = qt6-multimedia
	depends = sonic-frameworks-color-scheme
	depends = sonic-frameworks-core-addons
	depends = sonic-frameworks-crash-handler
	depends = sonic-frameworks-data-models
	depends = sonic-frameworks-gui-addons
	depends = sonic-frameworks-icon-themes
	depends = sonic-frameworks-internationalization
	depends = sonic-frameworks-keybind
	depends = sonic-frameworks-quick-ui
	depends = sonic-frameworks-settings
	depends = sonic-frameworks-spell-check
	depends = sonic-frameworks-svg
	provides = kirigami-addons
	conflicts = kirigami-addons
	source = sonic-frameworks-quick-ui-addons-1.13.1.tar.gz::https://github.com/Sonic-DE/sonic-frameworks-quick-ui-addons/archive/refs/tags/1.13.1.tar.gz
	sha256sums = 6a0950b7d3fe75760883577d913aa96d78848676a741cc3fd34f8088228d3f1a

pkgname = sonic-frameworks-quick-ui-addons
