pkgbase = sonic-frameworks-status-notification
	pkgdesc = Implementation of Status Notifier Items
	pkgver = 6.30.0
	pkgrel = 1
	url = https://github.com/Sonic-DE/sonic-frameworks-status-notification
	arch = x86_64
	groups = sonicde-frameworks
	license = LGPL-2.0-or-later
	makedepends = doxygen
	makedepends = python-build
	makedepends = python-setuptools
	makedepends = qt6-tools
	makedepends = sonic-frameworks-cmake-modules
	makedepends = sonic-pyside6
	makedepends = sonic-shiboken6-generator
	depends = glibc
	depends = libstdc++
	depends = qt6-base
	depends = sonic-frameworks-windowsystem
	optdepends = sonic-pyside6: Python bindings
	provides = kstatusnotifieritem
	conflicts = kstatusnotifieritem
	source = sonic-frameworks-status-notification-6.30.0.tar.gz::https://github.com/Sonic-DE/sonic-frameworks-status-notification/archive/refs/tags/6.30.0.tar.gz
	sha256sums = 7c92e674fc59bbec8f830d66d11c6c2d779aa1d20ba6305f2d6c4d7ac5151c72

pkgname = sonic-frameworks-status-notification
