pkgbase = sonic-frameworks-device-integration
	pkgdesc = Hardware integration and detection
	pkgver = 6.30.0
	pkgrel = 1
	url = https://github.com/Sonic-DE/sonic-frameworks-device-integration
	arch = x86_64
	groups = sonicde-frameworks
	license = LGPL-2.0-only
	license = LGPL-3.0-only
	makedepends = doxygen
	makedepends = qt6-declarative
	makedepends = qt6-tools
	makedepends = sonic-frameworks-cmake-modules
	depends = glibc
	depends = libimobiledevice
	depends = libplist
	depends = libstdc++
	depends = libudev.so
	depends = media-player-info
	depends = qt6-base
	depends = udisks2
	depends = upower
	depends = util-linux-libs
	optdepends = qt6-declarative: QML bindings
	provides = solid
	conflicts = solid
	source = sonic-frameworks-device-integration-6.30.0.tar.gz::https://github.com/Sonic-DE/sonic-frameworks-device-integration/archive/refs/tags/6.30.0.tar.gz
	sha256sums = ce4be837f054a221471db32ad51641c7d9a71ec104ea9868546830dc9ec14b7e

pkgname = sonic-frameworks-device-integration
