pkgbase = sonic-oxygen
	pkgdesc = SonicDE Oxygen style
	pkgver = 6.7.5
	pkgrel = 1
	url = https://github.com/Sonic-DE/sonic-oxygen
	arch = x86_64
	groups = sonicde
	license = LGPL-2.0-or-later
	makedepends = sonic-frameworks-cmake-modules
	makedepends = sonic-interface-libraries
	depends = glibc
	depends = libstdc++
	depends = libxcb
	depends = qt6-base
	depends = qt6-declarative
	depends = sonic-decoration
	depends = sonic-frameworks-autocomplete
	depends = sonic-frameworks-color-scheme
	depends = sonic-frameworks-core-addons
	depends = sonic-frameworks-gui-addons
	depends = sonic-frameworks-internationalization
	depends = sonic-frameworks-qt-integration
	depends = sonic-frameworks-settings
	depends = sonic-frameworks-settings-ui
	depends = sonic-frameworks-settings-utils
	depends = sonic-frameworks-widgets-addons
	depends = sonic-frameworks-windowsystem
	depends = sonic-oxygen-icons
	provides = oxygen
	conflicts = oxygen
	source = sonic-oxygen-6.7.5.tar.gz::https://github.com/Sonic-DE/sonic-oxygen/archive/refs/tags/6.7.5.tar.gz
	sha256sums = 935ee09912c5a13931378957e3a0cab4709739d3555ee229ff580502bb45d217

pkgname = sonic-oxygen
	depends = glibc
	depends = libstdc++
	depends = libxcb
	depends = qt6-base
	depends = qt6-declarative
	depends = sonic-decoration
	depends = sonic-frameworks-autocomplete
	depends = sonic-frameworks-color-scheme
	depends = sonic-frameworks-core-addons
	depends = sonic-frameworks-gui-addons
	depends = sonic-frameworks-internationalization
	depends = sonic-frameworks-qt-integration
	depends = sonic-frameworks-settings
	depends = sonic-frameworks-settings-ui
	depends = sonic-frameworks-settings-utils
	depends = sonic-frameworks-widgets-addons
	depends = sonic-frameworks-windowsystem
	depends = sonic-oxygen-icons
	depends = sonic-oxygen-cursors

pkgname = sonic-oxygen-cursors
	pkgdesc = SonicDE Oxygen cursors
	depends = 
	optdepends = 
	provides = oxygen-cursors
	conflicts = oxygen-cursors
