pkgbase = sonic-frameworks-progress-ui
	pkgdesc = Widgets for tracking KJob instances
	pkgver = 6.30.0
	pkgrel = 1
	url = https://github.com/Sonic-DE/sonic-frameworks-progress-ui
	arch = x86_64
	groups = sonicde-frameworks
	license = LGPL-2.0-only
	license = LGPL-3.0-only
	makedepends = doxygen
	makedepends = python-build
	makedepends = python-setuptools
	makedepends = qt6-tools
	makedepends = sonic-frameworks-cmake-modules
	makedepends = sonic-pyside6
	makedepends = sonic-shiboken6-generator
	depends = glibc
	depends = libstdc++
	depends = qt6-base
	depends = sonic-frameworks-core-addons
	depends = sonic-frameworks-notifications
	depends = sonic-frameworks-widgets-addons
	optdepends = sonic-pyside6: Python bindings
	provides = kjobwidgets
	conflicts = kjobwidgets
	source = sonic-frameworks-progress-ui-6.30.0.tar.gz::https://github.com/Sonic-DE/sonic-frameworks-progress-ui/archive/refs/tags/6.30.0.tar.gz
	sha256sums = e973404089dc31c410f18dac6a5d125bbf68e939ef4c8c9027ae7f0c0b749988

pkgname = sonic-frameworks-progress-ui
