pkgbase = sonic-network-manager
	pkgdesc = SonicDE applet written in QML for managing network connections
	pkgver = 6.7.5
	pkgrel = 3
	url = https://github.com/Sonic-DE/sonic-network-manager
	arch = x86_64
	groups = sonicde
	license = GPL-2.0-or-later
	makedepends = openconnect
	makedepends = qt6-webengine
	makedepends = sonic-frameworks-cmake-modules
	depends = glib2
	depends = glibc
	depends = libnm
	depends = libstdc++
	depends = openssl
	depends = qcoro
	depends = qt6-base
	depends = qt6-declarative
	depends = qtkeychain-qt6
	depends = sonic-frameworks-app-info
	depends = sonic-frameworks-autocomplete
	depends = sonic-frameworks-barcode
	depends = sonic-frameworks-color-scheme
	depends = sonic-frameworks-core-addons
	depends = sonic-frameworks-dbus
	depends = sonic-frameworks-device-integration
	depends = sonic-frameworks-internationalization
	depends = sonic-frameworks-io
	depends = sonic-frameworks-modemmanager
	depends = sonic-frameworks-networkmanager
	depends = sonic-frameworks-notifications
	depends = sonic-frameworks-progress-ui
	depends = sonic-frameworks-qml-bridge
	depends = sonic-frameworks-quick-charts
	depends = sonic-frameworks-quick-ui
	depends = sonic-frameworks-quick-ui-addons
	depends = sonic-frameworks-settings
	depends = sonic-frameworks-settings-utils
	depends = sonic-frameworks-svg
	depends = sonic-frameworks-widgets-addons
	depends = sonic-frameworks-windowsystem
	depends = sonic-interface-libraries
	depends = sonic-workspace
	optdepends = openconnect: Cisco AnyConnect VPN plugin
	optdepends = qrca: QR code scanner
	optdepends = qt6-webengine: Cisco AnyConnect VPN plugin
	optdepends = elogind: sleep and resume notifications through login1
	provides = plasma-nm
	conflicts = plasma-nm
	source = sonic-network-manager-6.7.5.tar.gz::https://github.com/Sonic-DE/sonic-network-manager/archive/refs/tags/6.7.5.tar.gz
	sha256sums = bd688443fd21785946d28bf352dfed271617adba9abb80595dac76a234ae4c88

pkgname = sonic-network-manager
