pkgbase = sonic-crypto-library
	pkgdesc = SonicDE cryptographic library
	pkgver = 2.3.12
	pkgrel = 1
	url = https://github.com/Sonic-DE/sonic-crypto-library
	arch = x86_64
	groups = sonicde
	license = LGPL-2.1-or-later
	makedepends = botan
	makedepends = cmake
	makedepends = doxygen
	makedepends = libgcrypt
	makedepends = libsasl
	makedepends = openssl
	makedepends = pkcs11-helper
	depends = ca-certificates
	depends = glibc
	depends = libgcc
	depends = libstdc++
	depends = nss
	depends = qt6-base
	optdepends = botan: botan plugin
	optdepends = libgcrypt: gcrypt plugin
	optdepends = libsasl: SASL plugin
	optdepends = openssl: SSL plugin
	optdepends = pkcs11-helper: PKCS-11 plugin
	provides = qca-qt6
	conflicts = qca-qt6
	source = sonic-crypto-library-2.3.12.tar.gz::https://github.com/Sonic-DE/sonic-crypto-library/archive/refs/tags/2.3.12.tar.gz
	sha256sums = cde58f4f91dac58220a96fa9d96882f06ad1e7112eea93263bb32f169f7a5108

pkgname = sonic-crypto-library
