pkgbase = sonic-login-manager
	pkgdesc = Sonic Login Manager
	pkgver = 6.7.5.3
	pkgrel = 3
	url = https://github.com/Sonic-DE/sonic-login-manager
	arch = x86_64
	groups = sonicde
	license = GPL-2.0-or-later
	makedepends = qt6-tools
	makedepends = sonic-frameworks-cmake-modules
	depends = glibc
	depends = libstdc++
	depends = libxau
	depends = pam
	depends = qt6-base
	depends = qt6-declarative
	depends = sh
	depends = sonic-frameworks-app-info
	depends = sonic-frameworks-auth
	depends = sonic-frameworks-core-addons
	depends = sonic-frameworks-dbus
	depends = sonic-frameworks-internationalization
	depends = sonic-frameworks-io
	depends = sonic-frameworks-package
	depends = sonic-frameworks-quick-ui
	depends = sonic-frameworks-settings
	depends = sonic-frameworks-settings-utils
	depends = sonic-frameworks-windowsystem
	depends = sonic-interface-libraries
	depends = sonic-screen-library
	depends = sonic-workspace
	depends = xorg-server
	depends = elogind
	optdepends = esettingsd: locale1 service for keyboard defaults on dinit, runit or s6
	optdepends = openrc-settingsd: locale1 service for keyboard defaults on OpenRC
	provides = plasma-login-manager
	conflicts = plasma-login-manager
	source = sonic-login-manager-6.7.5.3.tar.gz::https://github.com/Sonic-DE/sonic-login-manager/archive/refs/tags/6.7.5.3.tar.gz
	sha256sums = ac629b8a60cf922400ec458c5c299ebb13efb6d8b80c51dea9501b5ab4b6c656

pkgname = sonic-login-manager
