pkgbase = sonic-system-monitor
	pkgdesc = An interface for monitoring system sensors, process information and other system resources
	pkgver = 6.7.5
	pkgrel = 1
	url = https://github.com/Sonic-DE/sonic-system-monitor
	arch = x86_64
	groups = sonicde
	license = GPL-2.0-or-later
	license = LGPL-2.0-or-later
	makedepends = sonic-frameworks-cmake-modules
	depends = glibc
	depends = libstdc++
	depends = qt6-base
	depends = qt6-declarative
	depends = sonic-frameworks-addons-downloader
	depends = sonic-frameworks-app-info
	depends = sonic-frameworks-core-addons
	depends = sonic-frameworks-crash-handler
	depends = sonic-frameworks-data-models
	depends = sonic-frameworks-dbus
	depends = sonic-frameworks-icon-themes
	depends = sonic-frameworks-internationalization
	depends = sonic-frameworks-io
	depends = sonic-frameworks-keybind
	depends = sonic-frameworks-qml-bridge
	depends = sonic-frameworks-quick-charts
	depends = sonic-frameworks-quick-ui
	depends = sonic-frameworks-quick-ui-addons
	depends = sonic-frameworks-settings
	depends = sonic-frameworks-windowsystem
	depends = sonic-system-monitor-library
	depends = sonic-system-stats
	provides = plasma-systemmonitor
	conflicts = plasma-systemmonitor
	replaces = ksysguard
	source = sonic-system-monitor-6.7.5.tar.gz::https://github.com/Sonic-DE/sonic-system-monitor/archive/refs/tags/6.7.5.tar.gz
	sha256sums = ade7a2fd6363f51d33b681f73062ab68de265d95c45830ac604f0b96f30a4b8c

pkgname = sonic-system-monitor
