pkgbase = sonic-pyside
	pkgver = 6.11.2.2
	pkgrel = 1
	url = https://github.com/Sonic-DE/sonic-pyside
	arch = x86_64
	groups = sonicde
	license = GPL-3.0-only
	license = LGPL-3.0-only
	license = LicenseRef-Qt-Commercial
	license = Qt-GPL-exception-1.0
	makedepends = clang
	makedepends = cmake
	makedepends = llvm
	makedepends = ninja
	makedepends = python-numpy
	makedepends = python-setuptools
	makedepends = qt6-3d
	makedepends = qt6-canvaspainter
	makedepends = qt6-charts
	makedepends = qt6-connectivity
	makedepends = qt6-datavis3d
	makedepends = qt6-graphs
	makedepends = qt6-httpserver
	makedepends = qt6-location
	makedepends = qt6-multimedia
	makedepends = qt6-networkauth
	makedepends = qt6-positioning
	makedepends = qt6-quick3d
	makedepends = qt6-remoteobjects
	makedepends = qt6-scxml
	makedepends = qt6-sensors
	makedepends = qt6-serialbus
	makedepends = qt6-serialport
	makedepends = qt6-shadertools
	makedepends = qt6-speech
	makedepends = qt6-svg
	makedepends = qt6-tools
	makedepends = qt6-webchannel
	makedepends = qt6-webengine
	makedepends = qt6-websockets
	makedepends = qt6-webview
	source = sonic-pyside-6.11.2.2.tar.gz::https://github.com/Sonic-DE/sonic-pyside/archive/refs/tags/6.11.2.2.tar.gz
	sha256sums = db05b3a0b11b3c54958810ee3d1827bdc6935757b7e49e29a532c35ed3014255

pkgname = sonic-pyside6
	pkgdesc = Enables the use of Qt6 APIs in Python applications
	depends = glibc
	depends = libgcc
	depends = libstdc++
	depends = python
	depends = qt6-base
	depends = qt6-declarative
	depends = sonic-shiboken6
	optdepends = qt6-3d: Qt3D bindings
	optdepends = qt6-canvaspainter: QtCanvasPainter bindings
	optdepends = qt6-charts: QtCharts bindings
	optdepends = qt6-connectivity: QtBluetooth and QtNfc bindings
	optdepends = qt6-datavis3d: QtDataVisualization bindings
	optdepends = qt6-graphs: QtGraphs bindings
	optdepends = qt6-httpserver: QtHttpServer bindings
	optdepends = qt6-location: QtLocation bindings
	optdepends = qt6-multimedia: QtMultimedia bindings
	optdepends = qt6-networkauth: QtNetworkAuth bindings
	optdepends = qt6-positioning: QtPositioning bindings
	optdepends = qt6-quick3d: QtQuick3D bindings
	optdepends = qt6-remoteobjects: QtRemoteObjects bindings
	optdepends = qt6-scxml: QtScxml bindings
	optdepends = qt6-sensors: QtSensors bindings
	optdepends = qt6-serialbus: QtSerialBus bindings
	optdepends = qt6-serialport: QtSerialPort bindings
	optdepends = qt6-speech: QtTextToSpeech bindings
	optdepends = qt6-svg: QtSvg bindings
	optdepends = qt6-tools: QtHelp, QtUiTools bindings
	optdepends = qt6-webchannel: QtWebChannel bindings
	optdepends = qt6-webengine: QtWebEngine bindings
	optdepends = qt6-websockets: QtWebSockets bindings
	optdepends = qt6-webview: QtWebView bindings
	provides = pyside6
	provides = qt6-python-bindings
	conflicts = pyside6

pkgname = sonic-pyside6-tools
	pkgdesc = Tools for pyside6
	depends = python
	depends = sonic-pyside6
	provides = pyside6-tools
	conflicts = pyside6-tools

pkgname = sonic-shiboken6
	pkgdesc = Python/C++ bindings helper module
	depends = glibc
	depends = libgcc
	depends = libstdc++
	depends = python
	provides = shiboken6
	conflicts = shiboken6

pkgname = sonic-shiboken6-generator
	pkgdesc = Python/C++ bindings generator
	depends = clang
	depends = glibc
	depends = libgcc
	depends = libstdc++
	depends = libxml2
	depends = libxslt
	depends = llvm
	depends = python
	depends = qt6-base
	provides = shiboken6-generator
	conflicts = shiboken6-generator
