pkgbase = sonic-welcome-center
	pkgdesc = A friendly onboarding wizard for SonicDE
	pkgver = 6.7.5
	pkgrel = 3
	url = https://github.com/Sonic-DE/sonic-welcome-center
	arch = x86_64
	groups = sonicde
	license = LGPL-2.0-or-later
	makedepends = sonic-frameworks-cmake-modules
	depends = glibc
	depends = knewstuff
	depends = libstdc++
	depends = qt6-base
	depends = qt6-declarative
	depends = sonic-frameworks-app-info
	depends = sonic-frameworks-core-addons
	depends = sonic-frameworks-crash-handler
	depends = sonic-frameworks-dbus
	depends = sonic-frameworks-internationalization
	depends = sonic-frameworks-io
	depends = sonic-frameworks-keybind
	depends = sonic-frameworks-progress-ui
	depends = sonic-frameworks-quick-ui
	depends = sonic-frameworks-quick-ui-addons
	depends = sonic-frameworks-settings
	depends = sonic-frameworks-settings-utils
	depends = sonic-frameworks-svg
	depends = sonic-frameworks-user-feedback
	depends = sonic-frameworks-windowsystem
	depends = sonic-interface-libraries
	depends = sonic-network-manager
	depends = sonic-plasma5-support-library
	provides = plasma-welcome
	conflicts = plasma-welcome
	source = sonic-welcome-center-6.7.5.tar.gz::https://github.com/Sonic-DE/sonic-welcome-center/archive/refs/tags/6.7.5.tar.gz
	sha256sums = 2ff1f43155044784975e342af5f962aac6ed4b8968e577fdf2d5d30afa474fbf

pkgname = sonic-welcome-center
