pkgbase = sonic-exiv2-library
	pkgdesc = A library to manipulate pictures metadata
	pkgver = 26.08.0
	pkgrel = 1
	url = https://github.com/Sonic-DE/sonic-exiv2-library
	arch = x86_64
	groups = sonicde
	license = GPL-2.0-or-later
	license = LGPL-2.0-or-later
	makedepends = sonic-frameworks-cmake-modules
	depends = exiv2
	depends = glibc
	depends = libgcc
	depends = libstdc++
	depends = qt6-base
	provides = libkexiv2
	conflicts = libkexiv2
	source = sonic-exiv2-library-26.08.0.tar.gz::https://github.com/Sonic-DE/sonic-exiv2-library/archive/refs/tags/26.08.0.tar.gz
	sha256sums = 3f89d41990ad84e1647df33dd519d65a7a6f0655d0f3756ce4c85357b6dcc069

pkgname = sonic-exiv2-library
