pkgbase = sonic-frameworks-syntax-highlighting
	pkgdesc = Syntax highlighting engine for structured text and code
	pkgver = 6.30.0
	pkgrel = 1
	url = https://github.com/Sonic-DE/sonic-frameworks-syntax-highlighting
	arch = x86_64
	groups = sonicde-frameworks
	license = MIT
	makedepends = doxygen
	makedepends = qt6-declarative
	makedepends = qt6-tools
	makedepends = sonic-frameworks-cmake-modules
	depends = glibc
	depends = libstdc++
	depends = qt6-base
	optdepends = qt6-declarative: QML bindings
	provides = syntax-highlighting
	conflicts = syntax-highlighting
	source = sonic-frameworks-syntax-highlighting-6.30.0.tar.gz::https://github.com/Sonic-DE/sonic-frameworks-syntax-highlighting/archive/refs/tags/6.30.0.tar.gz
	sha256sums = d6c8d341044767e7a450f1a748128f07df91dbaa02a428be852c4edb1d328752

pkgname = sonic-frameworks-syntax-highlighting
