pkgbase = sonic-frameworks-keyring
	pkgdesc = Secure and unified container for user passwords
	pkgver = 6.30.0
	pkgrel = 1
	url = https://github.com/Sonic-DE/sonic-frameworks-keyring
	arch = x86_64
	groups = sonicde-frameworks
	license = LGPL-2.0-only
	license = LGPL-3.0-only
	makedepends = doxygen
	makedepends = qt6-tools
	makedepends = sonic-frameworks-app-info
	makedepends = sonic-frameworks-cmake-modules
	makedepends = sonic-frameworks-doctools
	depends = glib2
	depends = glibc
	depends = gpgmepp
	depends = libgcc
	depends = libgcrypt
	depends = libsecret
	depends = libstdc++
	depends = qca-qt6
	depends = qt6-base
	depends = sonic-frameworks-color-scheme
	depends = sonic-frameworks-core-addons
	depends = sonic-frameworks-crash-handler
	depends = sonic-frameworks-dbus
	depends = sonic-frameworks-internationalization
	depends = sonic-frameworks-notifications
	depends = sonic-frameworks-settings
	depends = sonic-frameworks-widgets-addons
	depends = sonic-frameworks-windowsystem
	optdepends = kwalletmanager: Configuration GUI
	provides = kwallet
	provides = org.freedesktop.secrets
	conflicts = kwallet
	source = sonic-frameworks-keyring-6.30.0.tar.gz::https://github.com/Sonic-DE/sonic-frameworks-keyring/archive/refs/tags/6.30.0.tar.gz
	sha256sums = 5b80c4dcb4f9b6f9a59def54db05c16d5f0da50dd29c090075d076e78e297a70

pkgname = sonic-frameworks-keyring
