pkgbase = sonic-ecco
	pkgdesc = SonicDE File Manager
	pkgver = 26.08.0
	pkgrel = 3
	url = https://github.com/Sonic-DE/sonic-ecco
	arch = x86_64
	groups = sonicde-applications
	groups = sonicde-system
	license = LGPL-2.0-or-later
	makedepends = sonic-frameworks-cmake-modules
	makedepends = sonic-frameworks-doctools
	depends = baloo-widgets
	depends = glibc
	depends = libstdc++
	depends = qt6-base
	depends = qt6-multimedia
	depends = sonic-frameworks-addons-downloader
	depends = sonic-frameworks-app-info
	depends = sonic-frameworks-autocomplete
	depends = sonic-frameworks-bookmarks
	depends = sonic-frameworks-color-scheme
	depends = sonic-frameworks-core-addons
	depends = sonic-frameworks-crash-handler
	depends = sonic-frameworks-dbus
	depends = sonic-frameworks-device-integration
	depends = sonic-frameworks-file-metadata
	depends = sonic-frameworks-file-search
	depends = sonic-frameworks-gui-addons
	depends = sonic-frameworks-icon-themes
	depends = sonic-frameworks-internationalization
	depends = sonic-frameworks-io
	depends = sonic-frameworks-io-extras
	depends = sonic-frameworks-notifications
	depends = sonic-frameworks-progress-ui
	depends = sonic-frameworks-settings
	depends = sonic-frameworks-settings-ui
	depends = sonic-frameworks-settings-utils
	depends = sonic-frameworks-text-codec
	depends = sonic-frameworks-text-widgets
	depends = sonic-frameworks-ui-components
	depends = sonic-frameworks-user-feedback
	depends = sonic-frameworks-widgets-addons
	depends = sonic-frameworks-windowsystem
	depends = sonic-frameworks-xml-gui
	optdepends = dolphin-plugins: extra plugins
	optdepends = ffmpegthumbs: video thumbnails
	optdepends = filelight: detailed disk usage statistics
	optdepends = kdegraphics-thumbnailers: PDF and PS thumbnails
	optdepends = kdenetwork-filesharing: samba usershare properties menu
	optdepends = kdf: view disk usage
	optdepends = kio-admin: for managing files as administrator
	optdepends = kompare: comparing files menu action
	optdepends = sonic-frameworks-purpose: share context menu
	optdepends = sonic-terminal-tools: for editing file type options
	optdepends = sonic-terminal: terminal panel
	provides = dolphin
	conflicts = dolphin
	source = sonic-ecco-26.08.0.tar.gz::https://github.com/Sonic-DE/sonic-ecco/archive/refs/tags/26.08.0.tar.gz
	sha256sums = 38f18867d455f7461c87e6eb5715c078ae3ead96f243260f742477216be9b771

pkgname = sonic-ecco
