pkgbase = sonic-system-log
	pkgdesc = System log viewer tool
	pkgver = 26.08.0
	pkgrel = 1
	url = https://github.com/Sonic-DE/sonic-system-log
	arch = x86_64
	groups = sonicde-applications
	groups = sonicde-system
	license = GPL-2.0-or-later
	license = LGPL-2.0-or-later
	makedepends = sonic-frameworks-cmake-modules
	makedepends = sonic-frameworks-doctools
	depends = audit
	depends = glibc
	depends = libstdc++
	depends = qt6-base
	depends = sonic-frameworks-archive
	depends = sonic-frameworks-autocomplete
	depends = sonic-frameworks-color-scheme
	depends = sonic-frameworks-core-addons
	depends = sonic-frameworks-crash-handler
	depends = sonic-frameworks-data-views
	depends = sonic-frameworks-internationalization
	depends = sonic-frameworks-io
	depends = sonic-frameworks-settings
	depends = sonic-frameworks-settings-ui
	depends = sonic-frameworks-text-widgets
	depends = sonic-frameworks-widgets-addons
	depends = sonic-frameworks-xml-gui
	provides = ksystemlog
	conflicts = ksystemlog
	source = sonic-system-log-26.08.0.tar.gz::https://github.com/Sonic-DE/sonic-system-log/archive/refs/tags/26.08.0.tar.gz
	sha256sums = 94655fd8570d6ff52ca37e08997d642365a23c430aa178e388aaef48a400258c

pkgname = sonic-system-log
