pkgbase = sonic-silver
	pkgdesc = Artwork, styles and assets for the Silver visual style for SonicDE
	pkgver = 6.7.5
	pkgrel = 3
	url = https://github.com/Sonic-DE/sonic-silver
	arch = x86_64
	groups = sonicde
	license = LGPL-2.0-or-later
	makedepends = sonic-frameworks-cmake-modules
	depends = glibc
	depends = libstdc++
	depends = qt6-base
	depends = qt6-declarative
	depends = qt6-svg
	depends = sonic-decoration
	depends = sonic-frameworks-color-scheme
	depends = sonic-frameworks-core-addons
	depends = sonic-frameworks-gui-addons
	depends = sonic-frameworks-icon-themes
	depends = sonic-frameworks-internationalization
	depends = sonic-frameworks-qt-integration
	depends = sonic-frameworks-quick-ui
	depends = sonic-frameworks-settings
	depends = sonic-frameworks-settings-utils
	depends = sonic-frameworks-widgets-addons
	depends = sonic-frameworks-windowsystem
	depends = sonic-silver-icons
	provides = breeze
	provides = sonic-silver-theme
	conflicts = breeze
	conflicts = sonic-silver-theme
	source = sonic-silver-6.7.5.tar.gz::https://github.com/Sonic-DE/sonic-silver/archive/refs/tags/6.7.5.tar.gz
	sha256sums = 3681dc23cbbd03644cbef717fa63df36661cae2b9438dadeafd4771fdff58922

pkgname = sonic-silver
