pkgbase = sonic-desktop-interface
	pkgdesc = Sonic Desktop Interface
	pkgver = 6.7.5.3
	pkgrel = 2
	url = https://github.com/Sonic-DE/sonic-desktop-interface
	arch = x86_64
	groups = sonicde
	license = LGPL-2.0-or-later
	makedepends = intltool
	makedepends = libibus
	makedepends = packagekit-qt6
	makedepends = scim
	makedepends = sonic-accounts-integration
	makedepends = sonic-frameworks-cmake-modules
	makedepends = sonic-frameworks-doctools
	makedepends = xf86-input-evdev
	makedepends = xf86-input-libinput
	makedepends = xf86-input-synaptics
	makedepends = xorg-server-devel
	depends = emoji-font
	depends = glibc
	depends = libcanberra
	depends = libstdc++
	depends = libudev.so
	depends = libwacom
	depends = libx11
	depends = libxcb
	depends = libxcursor
	depends = libxi
	depends = libxkbcommon
	depends = libxkbfile
	depends = powerdevil
	depends = qt6-base
	depends = qt6-declarative
	depends = sdl2
	depends = sonic-activities
	depends = sonic-activities-stats
	depends = sonic-frameworks-addons-downloader
	depends = sonic-frameworks-app-info
	depends = sonic-frameworks-autocomplete
	depends = sonic-frameworks-bookmarks
	depends = sonic-frameworks-core-addons
	depends = sonic-frameworks-crash-handler
	depends = sonic-frameworks-data-models
	depends = sonic-frameworks-data-views
	depends = sonic-frameworks-dbus
	depends = sonic-frameworks-device-integration
	depends = sonic-frameworks-file-search
	depends = sonic-frameworks-gui-addons
	depends = sonic-frameworks-icon-themes
	depends = sonic-frameworks-internationalization
	depends = sonic-frameworks-io
	depends = sonic-frameworks-keybind
	depends = sonic-frameworks-notification-settings
	depends = sonic-frameworks-notifications
	depends = sonic-frameworks-open-collab
	depends = sonic-frameworks-package
	depends = sonic-frameworks-progress-ui
	depends = sonic-frameworks-qml-bridge
	depends = sonic-frameworks-quick-ui
	depends = sonic-frameworks-quick-ui-addons
	depends = sonic-frameworks-runner
	depends = sonic-frameworks-settings
	depends = sonic-frameworks-settings-ui
	depends = sonic-frameworks-settings-utils
	depends = sonic-frameworks-spell-check
	depends = sonic-frameworks-svg
	depends = sonic-frameworks-text-codec
	depends = sonic-frameworks-widgets-addons
	depends = sonic-frameworks-windowsystem
	depends = sonic-frameworks-xml-gui
	depends = sonic-interface-libraries
	depends = sonic-launcher-menu-edit
	depends = sonic-pipewire
	depends = sonic-plasma5-support-library
	depends = sonic-polkit-agent
	depends = sonic-system-monitor-library
	depends = sonic-system-settings
	depends = sonic-workspace
	depends = xcb-util-keysyms
	depends = xdg-user-dirs
	optdepends = glib2: kimpanel IBUS support
	optdepends = ibus: kimpanel IBUS support
	optdepends = packagekit-qt6: to install new sonic-frameworks-runner plugins
	optdepends = scim: kimpanel SCIM support
	optdepends = sonic-accounts-integration: OpenDesktop integration plugin
	optdepends = sonic-audio-applet-pulse: Audio volume applet
	optdepends = sonic-bluetooth-runtime: Bluetooth applet
	optdepends = sonic-network-manager: Network manager applet
	optdepends = sonic-qt-accounts-library: OpenDesktop integration plugin
	optdepends = sonic-screen: screen management
	optdepends = elogind: login1 D-Bus service
	optdepends = esettingsd: timedate1 D-Bus service for dinit, runit or s6
	optdepends = openrc-settingsd: timedate1 D-Bus service for OpenRC
	provides = plasma-desktop
	conflicts = plasma-desktop
	source = sonic-desktop-interface-6.7.5.3.tar.gz::https://github.com/Sonic-DE/sonic-desktop-interface/archive/refs/tags/6.7.5.3.tar.gz
	source = 0001-add-explicit-input-backend-options.patch
	sha256sums = 6f0671bffbe38f7dab39ed3eb53aadfb7b86fa07780f3d9c127bbadf3d48d104
	sha256sums = 63afec950ae88f89fcf206b8e40aab3dcc4f5a4df6f456b31ad3ebf20158f440

pkgname = sonic-desktop-interface
