pkgbase = sonic-frameworks-qt-integration
	pkgdesc = Framework providing components to allow applications to integrate with a SonicDE Workspace
	pkgver = 6.30.0
	pkgrel = 1
	url = https://github.com/Sonic-DE/sonic-frameworks-qt-integration
	arch = x86_64
	groups = sonicde-frameworks
	license = LGPL-2.0-only
	license = LGPL-3.0-only
	makedepends = appstream-qt
	makedepends = packagekit-qt6
	makedepends = qt6-tools
	makedepends = sonic-frameworks-cmake-modules
	depends = glibc
	depends = libstdc++
	depends = qt6-base
	depends = sonic-frameworks-addons-downloader
	depends = sonic-frameworks-color-scheme
	depends = sonic-frameworks-icon-themes
	depends = sonic-frameworks-internationalization
	depends = sonic-frameworks-notifications
	depends = sonic-frameworks-settings
	depends = sonic-frameworks-widgets-addons
	optdepends = appstream-qt: dependency resolving via AppStream
	optdepends = packagekit-qt6: dependency resolving via AppStream
	provides = frameworkintegration
	conflicts = frameworkintegration
	source = sonic-frameworks-qt-integration-6.30.0.tar.gz::https://github.com/Sonic-DE/sonic-frameworks-qt-integration/archive/refs/tags/6.30.0.tar.gz
	sha256sums = 363eb21e52d8f9974bb8769ee4581266fd28ebbe76b2a489900ea85aa5c095d0

pkgname = sonic-frameworks-qt-integration
