pkgbase = sonic-frameworks-purpose
	pkgdesc = Framework for providing abstractions to get the developers purposes fulfilled
	pkgver = 6.30.0
	pkgrel = 1
	url = https://github.com/Sonic-DE/sonic-frameworks-purpose
	arch = x86_64
	groups = sonicde-frameworks
	license = LGPL-2.0-only
	license = LGPL-3.0-only
	makedepends = intltool
	makedepends = qt6-tools
	makedepends = sonic-frameworks-barcode
	makedepends = sonic-frameworks-cmake-modules
	depends = glibc
	depends = hicolor-icon-theme
	depends = libstdc++
	depends = qt6-base
	depends = qt6-declarative
	depends = sonic-accounts-integration
	depends = sonic-frameworks-app-info
	depends = sonic-frameworks-core-addons
	depends = sonic-frameworks-data-models
	depends = sonic-frameworks-internationalization
	depends = sonic-frameworks-io
	depends = sonic-frameworks-notifications
	depends = sonic-frameworks-quick-ui
	depends = sonic-frameworks-settings
	depends = sonic-frameworks-settings-utils
	depends = sonic-qt-accounts-library
	optdepends = kdeconnect: sharing to smartphone via KDE Connect
	optdepends = telegram-desktop: sharing via Telegram
	optdepends = sonic-bluetooth-runtime: sharing via Bluetooth
	optdepends = sonic-frameworks-barcode: QR code plugin
	optdepends = sonic-frameworks-qml-bridge: Nextcloud and YouTube plugins
	provides = purpose
	conflicts = purpose5<5.114.0-2
	conflicts = purpose
	source = sonic-frameworks-purpose-6.30.0.tar.gz::https://github.com/Sonic-DE/sonic-frameworks-purpose/archive/refs/tags/6.30.0.tar.gz
	sha256sums = 505942650640e517c0b73064a9fcccaad1d76b273b712525e9b8b623cb5868f5

pkgname = sonic-frameworks-purpose
