pkgbase = sonic-breeze
	pkgdesc = Artwork, styles and assets for the Breeze visual style for SonicDE
	pkgver = 6.7.5
	pkgrel = 3
	url = https://github.com/Sonic-DE/sonic-breeze
	arch = x86_64
	groups = sonicde
	license = LGPL-2.0-or-later
	makedepends = sonic-frameworks-cmake-modules
	depends = glibc
	depends = libstdc++
	depends = qt6-base
	depends = qt6-declarative
	depends = qt6-svg
	depends = sonic-decoration
	depends = sonic-frameworks-color-scheme
	depends = sonic-frameworks-core-addons
	depends = sonic-frameworks-gui-addons
	depends = sonic-frameworks-icon-themes
	depends = sonic-frameworks-internationalization
	depends = sonic-frameworks-qt-integration
	depends = sonic-frameworks-quick-ui
	depends = sonic-frameworks-settings
	depends = sonic-frameworks-settings-utils
	depends = sonic-frameworks-widgets-addons
	depends = sonic-frameworks-windowsystem
	depends = sonic-silver-icons
	conflicts = breeze
	conflicts = breeze-cursors
	source = sonic-breeze-6.7.5.tar.gz::https://github.com/Sonic-DE/sonic-breeze/archive/refs/tags/6.7.5.tar.gz
	sha256sums = 927307907a5c5af11e48ee5c426d17c3dbae3826f005ce9b0ea2de408ccb6422

pkgname = sonic-breeze
