pkgbase = sonic-partition-manager
	pkgdesc = A SonicDE utility that allows you to manage disks, partitions, and file systems
	pkgver = 26.08.0
	pkgrel = 1
	url = https://github.com/Sonic-DE/sonic-partition-manager
	arch = x86_64
	groups = sonicde-applications
	groups = sonicde-system
	license = GPL-2.0-or-later
	makedepends = sonic-frameworks-cmake-modules
	makedepends = sonic-frameworks-doctools
	depends = glibc
	depends = kpmcore
	depends = libstdc++
	depends = qt6-base
	depends = sonic-frameworks-color-scheme
	depends = sonic-frameworks-core-addons
	depends = sonic-frameworks-crash-handler
	depends = sonic-frameworks-dbus
	depends = sonic-frameworks-internationalization
	depends = sonic-frameworks-io
	depends = sonic-frameworks-settings
	depends = sonic-frameworks-settings-ui
	depends = sonic-frameworks-widgets-addons
	depends = sonic-frameworks-windowsystem
	depends = sonic-frameworks-xml-gui
	depends = sonic-polkit
	provides = partitionmanager
	conflicts = partitionmanager
	source = sonic-partition-manager-26.08.0.tar.gz::https://github.com/Sonic-DE/sonic-partition-manager/archive/refs/tags/26.08.0.tar.gz
	sha256sums = 13172ce09fdc1d97dfac566d35edc04792b1af81fec69798a4961434642860ee

pkgname = sonic-partition-manager
