pkgbase = sonic-frameworks-image-formats
	pkgdesc = Image format plugins for Qt 6
	pkgver = 6.30.0
	pkgrel = 2
	url = https://github.com/Sonic-DE/sonic-frameworks-image-formats
	arch = x86_64
	groups = sonicde-frameworks
	license = LGPL-2.0-only
	license = LGPL-3.0-only
	makedepends = jxrlib
	makedepends = libavif
	makedepends = libheif
	makedepends = libjxl
	makedepends = libraw
	makedepends = openexr
	makedepends = openjpeg2
	makedepends = sonic-frameworks-archive
	makedepends = sonic-frameworks-cmake-modules
	depends = glibc
	depends = libgcc
	depends = libstdc++
	depends = qt6-base
	optdepends = imath: EXR format support
	optdepends = jxrlib: JXR format support
	optdepends = libavif: AVIF format support
	optdepends = libheif: HEIF format support
	optdepends = libjxl: JPEG-XL format support
	optdepends = libraw: RAW format support
	optdepends = openexr: EXR format support
	optdepends = openjpeg2: JPEG 2000 format support
	optdepends = sonic-frameworks-archive: plugin for Krita and OpenRaster images
	provides = kimageformats
	conflicts = kimageformats
	source = sonic-frameworks-image-formats-6.30.0.tar.gz::https://github.com/Sonic-DE/sonic-frameworks-image-formats/archive/refs/tags/6.30.0.tar.gz
	sha256sums = ede0cfbaa3fea54f6fc0941dd12a78a43f14f408b60dcbb581406a81b98ed288

pkgname = sonic-frameworks-image-formats
