pkgbase = sonic-firewall
	pkgdesc = Control Panel for your system firewall
	pkgver = 6.7.5
	pkgrel = 1
	url = https://github.com/Sonic-DE/sonic-firewall
	arch = x86_64
	groups = sonicde
	license = GPL-2.0-or-later
	license = LGPL-2.0-or-later
	makedepends = python
	makedepends = sonic-frameworks-cmake-modules
	depends = glibc
	depends = libstdc++
	depends = qt6-base
	depends = qt6-declarative
	depends = sonic-frameworks-auth
	depends = sonic-frameworks-core-addons
	depends = sonic-frameworks-internationalization
	depends = sonic-frameworks-quick-ui
	depends = sonic-frameworks-settings
	depends = sonic-frameworks-settings-utils
	optdepends = firewalld: firewalld backend
	optdepends = iproute2: netstat backend
	optdepends = python: ufw backend
	optdepends = ufw: ufw backend
	provides = plasma-firewall
	conflicts = plasma-firewall
	source = sonic-firewall-6.7.5.tar.gz::https://github.com/Sonic-DE/sonic-firewall/archive/refs/tags/6.7.5.tar.gz
	sha256sums = 776081abb91668f63f5d63edf53539f6e464baf708a80c4a39ebe5e3d781758c

pkgname = sonic-firewall
