pkgbase = sonic-frameworks-feeds
	pkgdesc = RSS/Atom parser library
	pkgver = 6.30.0
	pkgrel = 1
	url = https://github.com/Sonic-DE/sonic-frameworks-feeds
	arch = x86_64
	groups = sonicde-frameworks
	license = LGPL-2.0-only
	license = LGPL-3.0-only
	makedepends = doxygen
	makedepends = qt6-tools
	makedepends = sonic-frameworks-cmake-modules
	depends = glibc
	depends = libgcc
	depends = libstdc++
	depends = qt6-base
	depends = sonic-frameworks-text-codec
	provides = syndication
	conflicts = syndication
	source = sonic-frameworks-feeds-6.30.0.tar.gz::https://github.com/Sonic-DE/sonic-frameworks-feeds/archive/refs/tags/6.30.0.tar.gz
	sha256sums = fa2f9c0329fd28f0d474508ed06434ec5ba8245dbc3ca113edee849d21a6a370

pkgname = sonic-frameworks-feeds
