pkgbase = sonic-frameworks-bluetooth
	pkgdesc = Qt wrapper for Bluez 5 DBus API
	pkgver = 6.30.0
	pkgrel = 1
	url = https://github.com/Sonic-DE/sonic-frameworks-bluetooth
	arch = x86_64
	groups = sonicde-frameworks
	license = LGPL-2.0-only
	license = LGPL-3.0-only
	makedepends = doxygen
	makedepends = qt6-declarative
	makedepends = qt6-tools
	makedepends = sonic-frameworks-cmake-modules
	depends = bluez
	depends = glibc
	depends = libstdc++
	depends = qt6-base
	optdepends = qt6-declarative: QML bindings
	provides = bluez-qt
	conflicts = bluez-qt
	source = sonic-frameworks-bluetooth-6.30.0.tar.gz::https://github.com/Sonic-DE/sonic-frameworks-bluetooth/archive/refs/tags/6.30.0.tar.gz
	sha256sums = 40416c2addcf30a5020e15134655f872315b46efac30c61f0596653dd97970ea

pkgname = sonic-frameworks-bluetooth
