pkgbase = sonic-vault
	pkgdesc = SonicDE applet and services for creating encrypted vaults
	pkgver = 6.7.5
	pkgrel = 1
	url = https://github.com/Sonic-DE/sonic-vault
	arch = x86_64
	groups = sonicde
	license = LGPL-2.0-or-later
	makedepends = sonic-frameworks-cmake-modules
	depends = fuse3
	depends = glibc
	depends = gocryptfs
	depends = libgcc
	depends = libstdc++
	depends = qt6-base
	depends = qt6-declarative
	depends = sonic-activities
	depends = sonic-frameworks-app-info
	depends = sonic-frameworks-core-addons
	depends = sonic-frameworks-data-models
	depends = sonic-frameworks-dbus
	depends = sonic-frameworks-internationalization
	depends = sonic-frameworks-io
	depends = sonic-frameworks-networkmanager
	depends = sonic-frameworks-quick-ui
	depends = sonic-frameworks-settings
	depends = sonic-frameworks-widgets-addons
	depends = sonic-interface-libraries
	depends = sonic-system-monitor-library
	depends = sonic-workspace
	optdepends = cryfs: to open old vaults created with CryFS
	optdepends = encfs: to open old vaults created with EncFS
	provides = plasma-vault
	conflicts = plasma-vault
	source = sonic-vault-6.7.5.tar.gz::https://github.com/Sonic-DE/sonic-vault/archive/refs/tags/6.7.5.tar.gz
	sha256sums = 1dce56d3ac61e4b8323c853f8213f1aaec30310c24fea7da7895b8c67db8bb24

pkgname = sonic-vault
