pkgbase = sonic-frameworks-spell-check
	pkgdesc = Spelling framework for Qt
	pkgver = 6.30.0
	pkgrel = 1
	url = https://github.com/Sonic-DE/sonic-frameworks-spell-check
	arch = x86_64
	groups = sonicde-frameworks
	license = LGPL-2.0-only
	license = LGPL-3.0-only
	makedepends = aspell
	makedepends = doxygen
	makedepends = hspell
	makedepends = hunspell
	makedepends = libvoikko
	makedepends = qt6-declarative
	makedepends = qt6-tools
	makedepends = sonic-frameworks-cmake-modules
	depends = glibc
	depends = libstdc++
	depends = qt6-base
	optdepends = aspell: spell checking via aspell
	optdepends = hspell: spell checking for Hebrew
	optdepends = hunspell: spell checking via hunspell
	optdepends = libvoikko: Finnish support via Voikko
	optdepends = qt6-declarative: QML bindings
	provides = sonnet
	conflicts = sonnet
	source = sonic-frameworks-spell-check-6.30.0.tar.gz::https://github.com/Sonic-DE/sonic-frameworks-spell-check/archive/refs/tags/6.30.0.tar.gz
	sha256sums = 0cfd382e875abbf2935a5f64a5c146381492540950897d56fcf54721535cfa10

pkgname = sonic-frameworks-spell-check
