pkgbase = sonic-frameworks-quick-desktop-style
	pkgdesc = A style for Qt Quick Controls 2 to make it follow your desktop theme
	pkgver = 6.30.0
	pkgrel = 1
	url = https://github.com/Sonic-DE/sonic-frameworks-quick-desktop-style
	arch = x86_64
	groups = sonicde-frameworks
	license = LGPL-2.0-only
	license = LGPL-3.0-only
	makedepends = qt6-tools
	makedepends = sonic-frameworks-cmake-modules
	depends = glibc
	depends = libstdc++
	depends = qt6-base
	depends = qt6-declarative
	depends = sonic-frameworks-color-scheme
	depends = sonic-frameworks-icon-themes
	depends = sonic-frameworks-quick-ui
	depends = sonic-frameworks-settings
	depends = sonic-frameworks-spell-check
	provides = qqc2-desktop-style
	conflicts = qqc2-desktop-style
	source = sonic-frameworks-quick-desktop-style-6.30.0.tar.gz::https://github.com/Sonic-DE/sonic-frameworks-quick-desktop-style/archive/refs/tags/6.30.0.tar.gz
	sha256sums = 3ac96e39ec716180f9b32b78211bb4cace2f040ba6c7286e41c7844581d15440

pkgname = sonic-frameworks-quick-desktop-style
